* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}
@font-face {
    font-family: beausite-classic-regular;
    src: url('./Assets/Fonts/beausite.ttf') format('truetype'); 
}
@font-face {
    font-family: beausite-bold;
    src: url('./Assets/Fonts/beausite-bold.ttf') format('truetype'); 
}
@font-face {
    font-family: beausite-classic-meduim;
    src: url('./Assets/Fonts/beausite-classic-medium.ttf') format('truetype'); 
}

.landing-page{
    display: flex;
    flex-direction: column;
    gap:317px ;
}
.container1{
    display: flex;
    flex-direction: column;
    gap:221px;
    flex: 1;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 36px;
    padding-bottom: 36px;
}
#landing{
    opacity: 0;
}
.logo-img{
    width: 130px;
    height: 40px;
}
.bar-img{
    width: 28px;
    height: 18px;
    cursor: pointer;
}
.hook{
    font-family: beausite-bold;
    font-size: 123px;
    letter-spacing: -6px;
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.sub-hook{
    font-family: beausite-classic-regular;
    font-size: 24px;
    padding-left: 350px;
    padding-right:350px; ;
    text-align: center;
    color: #85878A;
    letter-spacing: -1.2px;

}
.container2{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 98px;
}
.headerbox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    
}
.header2{
    font-size: 64px;
    font-family: beausite-bold;
    letter-spacing: -3.2px;
}
.content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    padding-right: 120px;
    padding-left: 120px;
}
.top-content{
    display:flex;
    gap: 42px;
    justify-content: center;
    align-items: center;
}
.left-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.right-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.content-desc{
    display: flex;
    justify-content: space-between;
}
.left-desc{
    display: flex;
    flex: 1;
    flex-direction: column;

    
}
.content-img{
    width: 819px;
    height: 540px;
    overflow: hidden;
    border-radius: 36px;
    position: relative;
}
.content-img .img-wrap {
    display: block;
    width: 100%;   
    height: 100%;
}

.content-title{
    font-family: beausite-classic-meduim;
    font-size: 36px;
    letter-spacing: -1.8px ;
}
.content-subtitle{
    font-family: beausite-classic-regular;
    font-size: 16px;
    color: #85878A;
    letter-spacing: -1.2px;

}
.btn {
    width: 174.6px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 74px;
    font-size: 16px;
    cursor: pointer;
    font-family: beausite-classic-regular;
    gap: 10px;
    transition: background-color 0.8s ease, color 0.5s ease;
    
}
.btn-arrow{
    width: 12px;
    height: 12px;
    transition: filter 0.3s;
    color: #0071E3;
}
.right-desc{
    display: flex;
    flex:1;
    align-items: end;
    justify-content: end;
}
.btn:hover {
    background-color: #0071E3;
    color: white;
    border: 0px;
}

.btn:hover .btn-arrow {
    filter: brightness(0) invert(1); 
}
.btm{
    display:flex;
    flex-direction: column;
    gap: 42px;
    justify-content: center;
    align-items: center;

}
.bottom-content{
    display: flex;
    flex-direction: column;
    gap: 42px;
}


.content-img-btm{
    width: 1680px;
    height: 670px;
    overflow: hidden;
    border-radius: 36px;    
    object-position: center bottom;
}
.content-img-btm .img-wrap {
    width: 100%;   
    height: auto;
    object-fit: contain;
    
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#ably-img{
    transition: transform 1s ease;
}
#dhyah-img{
    transition: transform 1s ease;
}
#fusion-img{
    transition: transform 1s ease;
}

.content-img:hover img{
    cursor: pointer;
    transform: scale(1.2);
}

.content-img-btm:hover img{
    cursor: pointer;
    transform: scale(1.2);
}

.container3{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 98px;

}

.header3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.title3{
    font-family: beausite-bold;
    font-size: 64px;
    letter-spacing: -3.2px;
}
.subtitle3{
    font-family: beausite-classic-regular;
    font-size: 24px;
    color: #85878A;
    letter-spacing: -1.2px;
}
.choose-btn{
    color: #0071E3;
    cursor: pointer;
}
.cards3{
    width: 1680px;
    height: 438px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.card3{
    width: 402px;
    height: 438px;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    background-color: #F1F2F2;
    padding: 36px;
    border-radius:36px ;
}
.card-content3{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.card-title3{
    font-family: beausite-bold;
    font-size: 32px;
    letter-spacing: -1.6px;
}
.card-subtitle3{
    font-family: beausite-classic-regular;
    font-size: 16px;
    color: #85878A;
    letter-spacing: -1.2px;
}
.card-btn3{
    font-size: 16px;
    font-family: beausite-bold;
    color:#0071E3;
    cursor: pointer;
}
.card-btn3:hover{
    text-decoration: underline;
}
/* .card :hover .card{
    background-color: white;
} */

.container4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 98px;
    width: 100%;
    height: 943px;
    background-image: url('./Assets/Images/Moud.png'); 
    background-size: cover;
    background-position: center;
}
.content4{
    width: 1254px;
    height: 437px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 130px;
}
.text4{
    display: flex;
    flex-direction: column;
    gap: 29px;
    justify-content: center;
    align-items: center;
}
.title4{
    font-family: beausite-bold;
    font-size: 64px;
    letter-spacing: -3.2px;
    color: white;
}
.title4b{
    color: #0071E3;
}
.subtitle4{
    font-family: beausite-classic-regular;
    font-size: 24px;
    color: white;
    letter-spacing: -1.2px;
    text-align: center;
}
